[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
neo4j = "*"
pandas = "*"
spacy = "3.5.4"
scikit-learn = "*"
python-dotenv = "*"
pypdf2 = "*"
pycryptodome = "*"
tabulate = "*"
pyarrow = "*"
jupyter = "*"
coreferee = "*"
requests-html = "*"
py-xbrl = "*"
graphdatascience = "*"
xmlschema = "*"
xsdata = {extras = ["lxml", "soap", "cli"], version = "*"}
xmltodict = "*"
rdflib = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.11"
